.body-card{
    height: 500px;
    width: 350px;
    border: 1px solid black;
}

.circle{
    border-radius: 20%;
}

.info-card ul{
    margin-top: 8px;
    margin-left: 16px;
}

/* Aca */
.info-card ul li{
    list-style: none;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

/* Aca */
.title-info-card{
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: Lato;
    margin-bottom: 10px;
}
