.body-card{
    height: 500px;
    width: 300px;
}

#jugador{
    width: 300px;
    height: 350px;
}

.circle{
    border-radius: 50%;
}

.info-card ul{
    margin-top: 8px;
    margin-left: 16px;
}

.info-card ul li{
    list-style: none;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.title-info-card{
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: Lato;
    margin: 10px 0;
}
