.container-footer-comp{
    max-width: 1400px;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p {
    font-size: 2em;
    font-family: Lato;
    font-weight: bold;
    margin: 0;
    color: #F8F9D7;
    padding: 12px;
}