.barra-nav{
    max-width: 1400px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    font-size: 3em; 
    font-weight: bold;
    color: black;
}

.nav-menu{
    display: flex;
}

.nav-menu-item{
    list-style: none;
}

.nav-menu-link{
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: black;
}

.nav-menu-link:hover{
    color: #F8F9D7;
}