.container-section{
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-text, .container-img{
    width: 500px;
    height: 500px;
}

.container-text{
    margin-right: 60px;
}

.container-img{
    margin-left: 60px;
}

hr{
    margin: auto;
    width: 80%;
}

.title-section-inv{
    font-size: 3.2em;
    margin: 11px 0;
    font-family: Roboto;
}

.container-info{
    text-align: center;
}

.title-group-inv{
    font-size: 2.5em;
    margin-top: 15px;
    font-family: Lato;
}

.title-rivals-inv{
    font-size: 2em;
    margin-top: 15px;
    font-family: Lato;
}

.item-li-inv{
    list-style: none;
    font-size: 1.7em;
    margin-top: 5px;
    font-family: sans-serif cursive;
}