*{
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #F8F9D7
}


.container-navbar, .container-footer{
    background-color: #6E85B7;
}

.container-cards-circle, .container-cards-square{
    max-width: 1400px;
    margin: 0 auto;
}

/* Este no debe contener un max-width ya que debe expanderse por toda la pag */
.hero{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,
    rgb(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0.2)), url('./assets/contenedor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1{
    font-size: 6em;
    font-weight: bold;
    font-family: Inter;
    color: white;
}


.title-cards{
    font-size: 3em;
    text-align: center;
    padding: 30px 0;
    font-family: Roboto;
}

.container-cards{
    height: 600px;
    display: flex;
    justify-content: space-around;
}


.container-info{
    height: 600px;
}

.container-contact{
    height: 350px;
}